<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
<link href="../static/base.css" rel="stylesheet" type="text/css">
</head>
<body>
	
<style type="text/css">
    #rig{
        width: 100px;
        height: 100px;
        position: absolute;
        top: 0px;
        right: 0px;
    }
    </style>
    <a href="/" id="rig">
                <button>返回首页</button>
    </a>
<ul>
	<button type="button" class="mui-btn mui-btn-primary mui-btn-outlined">
		<a style="line-height: 16px" href="/analysis_one?type=a">艾滋病新增人数世界地图</a>
	</button>
    <button type="button" class="mui-btn mui-btn-primary mui-btn-outlined">
    <a style="line-height: 16px" href="/analysis_two?type=a">颁布法律前，中，后对比</a>
    </button>
    <button type="button" class="mui-btn mui-btn-primary mui-btn-outlined">
    <a style="line-height: 16px" href="/analysis_three?type=a">分省艾滋人数2008</a>
    </button>
    <button type="button" class="mui-btn mui-btn-primary mui-btn-outlined">
    <a style="line-height: 16px" href="/analysis_four?type=a">分省艾滋人数2018</a>
    </button>
    <button type="button" class="mui-btn mui-btn-primary mui-btn-outlined">
    <a style="line-height: 16px" href="/analysis_five?type=a">新增艾滋病人数对比</a>
    </button>
</ul>
<HR SIZE=5>
<form method="POST" action="/detailed">
    <select name="option">
        {% for option in option_list %}
            <option value="{{ option }}">{{ option }}</option>
        {% endfor %}
    </select>
<p><input value='go' type='SUBMIT'></p>
</form>
    <div id="af2dad9232b041ed8c958824ef304acc" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_af2dad9232b041ed8c958824ef304acc = echarts.init(
            document.getElementById('af2dad9232b041ed8c958824ef304acc'), 'white', {renderer: 'canvas'});
        var option_af2dad9232b041ed8c958824ef304acc = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "line",
            "name": "\u4e2d\u56fd\u65b0\u589e\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2011",
                    20450
                ],
                [
                    "2012",
                    41929
                ],
                [
                    "2013",
                    42286
                ],
                [
                    "2014",
                    45145
                ],
                [
                    "2015",
                    50330
                ],
                [
                    "2016",
                    54360
                ],
                [
                    "2017",
                    57194
                ],
                [
                    "2018",
                    64170
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u6cd5\u56fd\u65b0\u589e\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2011",
                    5800
                ],
                [
                    "2012",
                    5800
                ],
                [
                    "2013",
                    5900
                ],
                [
                    "2014",
                    6600
                ],
                [
                    "2015",
                    6400
                ],
                [
                    "2016",
                    6300
                ],
                [
                    "2017",
                    6200
                ],
                [
                    "2018",
                    6200
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        },
        {
            "type": "line",
            "name": "\u6cf0\u56fd\u65b0\u589e\u4eba\u6570",
            "connectNulls": false,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "2011",
                    14000
                ],
                [
                    "2012",
                    13000
                ],
                [
                    "2013",
                    12000
                ],
                [
                    "2014",
                    11000
                ],
                [
                    "2015",
                    9600
                ],
                [
                    "2016",
                    8200
                ],
                [
                    "2017",
                    7200
                ],
                [
                    "2018",
                    6300
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u4e2d\u56fd\u65b0\u589e\u4eba\u6570",
                "\u6cd5\u56fd\u65b0\u589e\u4eba\u6570",
                "\u6cf0\u56fd\u65b0\u589e\u4eba\u6570"
            ],
            "selected": {
                "\u4e2d\u56fd\u65b0\u589e\u4eba\u6570": true,
                "\u6cd5\u56fd\u65b0\u589e\u4eba\u6570": true,
                "\u6cf0\u56fd\u65b0\u589e\u4eba\u6570": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "2011",
                "2012",
                "2013",
                "2014",
                "2015",
                "2016",
                "2017",
                "2018"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u65b0\u589e\u827e\u6ecb\u75c5\u4eba\u6570\u5bf9\u6bd4"
        }
    ]
};
        chart_af2dad9232b041ed8c958824ef304acc.setOption(option_af2dad9232b041ed8c958824ef304acc);
    </script>
{{ the_res|safe }}
</body>
</html>
